/*
#3A80E2
#418CFC
*/

body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.principal{
	display: flex;
	flex-direction: column;
}

.logo{
	
	display: flex;
	width: 50%;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.3em;
	color: #434343;
}

.logo > strong{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 2px;
	border-bottom: solid 2px;
} 

.icon{
    width: 50px; 
    clip-path: polygon(100% 50%, 25% 93.3%, 25% 6.7%);
    background-color: rgb(255, 86, 86); 
}

.box {
    width: 200px;
    aspect-ratio: 1;
    clip-path: polygon(100% 50%,25% 93.3%,25% 6.7%);
  }


.menu{
	width: 60%;
}

.menu > ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.menu ul li button {
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
	border: none;
	background: none;
	cursor: pointer;
}

li{
	cursor: pointer;
	color: #434343;
	transition: all 0.3s;
	border:solid 1px white;
	padding: 5px;
	border-radius: 5px;
}

li:hover{
	color: #ff6b6b;
	border-color: #bf2424;
}

.navbar{
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.introduce{
	background-color: #f3f3f3;
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 90px;
	background: url('https://res.cloudinary.com/djyi2fp3o/image/upload/c_scale,h_35,w_644/v1710996751/wave_3_ihu1ll.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.big-lemma{
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 15px;
}

.sub-lemma{
	font-size: 1em;
	color: #434343;
}

.trial{
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	padding: 15px;
	background-color: #ff5c5c;
	color: white;
	border: 0;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
}

.trial:hover{
	background-color: #ff8080;
}

small{
	font-size: 0.7em;
	color: #434343;
}



.description{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #ff8e8e;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
}

.description > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logoD{
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 15px;
}

.textD{
	font-size: 0.9em;
	color: #f3f3f3;
	text-align: justify;
}

.opinion{
	padding-top: 130px;
	padding-bottom: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://res.cloudinary.com/djyi2fp3o/image/upload/v1710996751/wave_3_ihu1ll.svg');
	background-position: center;
	background-origin: initial;
	background-repeat: no-repeat;
	background-size: cover;
	transform:scaleX(-1) scaleY(-1);
}

.opinion > .inside{
	transform:scaleX(-1) scaleY(-1);
	display: flex;
	flex-direction: row;
	width: 50%
}

.imageO{
	margin-right: 30px;
}

img{
	width: 100px;
	border-radius: 50%;
}

footer{
	padding-left: 30px;
	background-color: #ff8585;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

a{
	color: #f3f3f3;
	text-decoration: none;
	border:solid 1px #ff7d7d;
	padding: 3px;
	transition: all 0.3s;
	border-radius: 5px;
}

a:hover{
	border-color: white;
}


footer > div{
	width: 30%
}

